[submodule "trillian/proto/googleapis"]
	path = trillian/proto/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "trillian/proto/trillian"]
	path = trillian/proto/trillian
	url = https://github.com/google/trillian
